.background-overlay {
    top:0; right: 0; bottom: 0; left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 46, 46);
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
    visibility: hidden;
    overflow-y: auto;

    &.show {
        z-index: 1050;
        visibility: visible;
        transition: opacity 0.3s ease-out;
        opacity: 0.3;
    }
}
