.delete-tooltip {
    position: absolute;
    right: 16%;
    margin-top: -38px;
    border-radius: 6px;
    box-shadow: 0 2px 0 0 #d3dce6;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 17px 22px;
    img {
        margin-right: 10px;
    }
    span {
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #3d4858;
    }
    @include media-breakpoint-down(sm) {
        right: 4% !important;
    }
}
