.login-card {
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 6px;
    box-shadow: 0 2px 0 0 #d3dce6;
    background-color: #ffffff;
    .base-button {
        width: 100%;
    }
}
