.three-dots {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border: solid 2px #5d748f;
    margin-top: -14px;
    p {
        text-align: center;
        font-size: 29px;
        margin-right: -17px;
        transform: rotate(90deg);
        color: #5d748f;
        &:hover {
            color: #ffffff;
        }
    }

}
