.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1 !important;
    z-index: 1 !important;
    .tooltiptext {

        visibility: hidden;

        border-radius: 4px;
        background-color: #3d4858;

        text-align: center;
        padding: 10px;

        /* Position the tooltip */
        position: absolute;
        //z-index: 9999 !important;
        top: -5px;
        left: 32px;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        &:after {
            content: '';
            position: absolute;
            left: -3px;
            top: 14px;

            width: 7px;
            height: 7px;
            transform: rotate(-45deg);
            background-color: #3d4858;
        }
    }

    &:hover .tooltiptext {
        visibility: visible;
        z-index: 99999 !important;
    }

}



