.transparent-button {
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 24px;
    border: solid 2px #5d748f;
    /* height: 50px; */
    /* width: 191px; */
    height: 48px;
    padding: 23px 20px;
    @include media-breakpoint-down(sm) {
        padding: 0 17px !important;
    }
    p {
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        margin:0 !important;
        @include media-breakpoint-down(sm) {
            display: none !important;
        }
    }
    img {
        margin-right: 10px;
        @include media-breakpoint-down(sm) {
            margin-right: 0px !important;
        }
    }
}

@include media-breakpoint-down(sm) {
    .project-page-button {
        margin-top: 2px;
    }
}

