.tabs {
    &__header {
        width: 100%;
        margin-top: -5px;
        ul {
            list-style: none;
            span {
                margin-right: 6px;
                border-top-right-radius: 6px;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 0px !important;
                border-bottom-right-radius: 0px !important;
                padding: 0px 24px;
                box-shadow: 0 2px 0 0 #f2f5f7;
                background-color: rgba(255, 255, 255, 0.2);
                color: #ffffff !important;
                &:focus {
                    outline: none !important;
                }
                &.active {
                    //opacity: 0.2;
                    color: #3d4858 !important;
                    border-radius: 6px;
                    background-color: #f4f6f8;

                }
            }
            li {
                position: relative;
                display: inline-block;
                padding: 0.75rem 0rem;
                margin: 0;
                font-size: 18px;
                cursor: pointer;
                transition: border-color 0.2s ease-in-out;
                //border-color: rgb(255,255,255);
                //border-color: rgba(255,255,255,0);

                &:focus {
                    outline: none !important;
                }
                &.active {
                    //background: red;

                }
            }
        }
    }
}
