.content-card {
    border-radius: 6px;
    box-shadow: 0 2px 0 0 #d3dce6;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 39%;
        padding-top: 70px;
        padding-bottom: 70px;
        button {
            width: 55%;
            padding: 14px 20px !important;
        }
        img {
            margin-bottom: 16px;
        }
        @include media-breakpoint-down(sm) {
            width: 100% !important;
        }
    }
    h5 {
        font-size: 26px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #3d4858;
    }
}

.project-list {
    border-radius: 6px;
    box-shadow: 0 2px 0 0 #d3dce6;
    background-color: #ffffff;
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 44px 32px;
        box-shadow: 0 2px 0 0 #f2f5f7;
        .left-part {
            display: flex;
            align-items: center;
            img {
                margin-right: 16px;
                //margin-top: -10px;
            }
            a {
                font-size: 24px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #3d4858 !important;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        &:last-child {
            box-shadow: none !important;
        }
    }
}
