.settings {
    h5 {
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #3d4858;
        margin-top: 30px;
        margin-bottom: 30px;
        @include media-breakpoint-down(sm) {
            font-size: 20px !important;
        }
    }
    .content-head {
        position: relative;
        span {
            position: absolute;
            top: -30px;
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #8492a6;
        }
    }
    .localization-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .add-other-language {
            margin-top: 0px !important;
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #3d4858;
            @include media-breakpoint-down(sm) {
                font-size: 10px;
            }
        }
    }
    .main-content {
        overflow: hidden !important;
    }
}
