.base-button {
    border-radius: 3px;
    box-shadow: 0 2px 0 0 #3487e2;
    background-color: #4ba0fe;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border: none !important;
    margin-top: 19px;
    margin-bottom: 23px;
    padding: 14px 74px;
}
