.custom-card {
    margin-bottom: 16px;
    border-radius: 6px;
    box-shadow: 0 2px 0 0 #d3dce6;
    background-color: #ffffff;
    .settings-content {
        display: flex;
        padding: 4px 24px;
        justify-content: space-between;
        align-items: center;
        .left-part {
            display: flex;
            img {
                margin-right: 16px;
            }
        }
        .right-part {
            .edit-icon {
                margin-right: 24px;
            }
        }
    }
}
