header {
    background-color: #062f5c;
    height: 300px;
    .navbar {
        border-bottom: 2px solid rgba(255, 255, 255, 0.12);
        padding-top: 13px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .log-out {
        cursor: pointer ;
        display: flex;
        span {
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: right;
            color: #8492a6;
            margin-left: 10px;
        }
    }
}
