.form-wrapper {
    display: flex;
    flex-direction: column;
    input,textarea {
        border-radius: 3px;
        border: solid 1px #d3dce6;
        background-color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #3d4858;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 14px;
    }



    label {
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #8492a6;
        margin-top: 16px;
        text-transform: uppercase;
    }

}
