.users {
    border-radius: 3px;
    background-color: #f1f3f7;
    p {
        padding: 8px 14px;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.17;
        letter-spacing: normal;
        color: #8492a6;
        display: flex;
        justify-content: space-between;
    }
    &:first-child {
        margin-top: 10px;
    }
}
