.custom-table {
    position: relative;

    th, td {
        padding: 0;
    }

    thead {
        tr {
            //border-bottom: 10px solid #f4f6f8;
            border-radius: 6px;
            background-color: #d3dce6;
            padding: 2px 20px !important;

            th {
                font-family: "IBMPlexThai", sans-serif !important;

                padding-top: 6px;
                padding-bottom: 6px;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.17;
                letter-spacing: normal;
                color: #8492a6;

                &:first-child {
                    padding-left: 20px;
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                }

                &:last-child {
                    padding-left: 20px;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                }
            }
        }
    }

    tbody {
        tr {
            border-radius: 6px;

            background-color: #ffffff;

            &:first-child {
                td {
                    &:first-child {
                        border-top-left-radius: 6px !important;
                    }

                    &:nth-child(3) {
                        border-top-right-radius: 6px !important;
                    }
                }
            }

            &:last-child {
                td {
                    box-shadow: none !important;
                    //border-bottom-right-radius: 6px !important;

                    &:first-child {
                        border-bottom-left-radius: 6px !important;
                    }

                    &:nth-child(3) {
                        border-bottom-right-radius: 6px !important;
                    }
                }
            }
        }

        td {
            box-shadow: 0 1px 0 0 rgba(211, 220, 230, 0.6);
            padding-bottom: 24px;
            padding-top: 24px;

            .edit-icon {
                z-index: 0 !important;
                margin-right: 29px;
                .edit-button:hover {
                    cursor: pointer;
                    g {
                        stroke: red;
                    }
                }
            }

            .delete-icon:hover {
                z-index: 0 !important;
                cursor: pointer;
                g {
                    stroke: red;
                }
            }

            &:first-child {
                //border-top-left-radius: 6px !important;
                font-size: 16px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #3d4858;
                padding-left: 20px;
            }
            &:nth-child(2) {
                font-family: "IBMPlexThai-Text", sans-serif;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.38;
                letter-spacing: normal;
                color: #3d4858;
            }

            &:last-child {
                width: 9%;

                img {
                    &:last-child {
                        margin-left: 29px;
                    }
                }
            }

        }
    }

    tbody td {
        position: relative;
        top: 0.6rem; // or whatever space you want between the thead th and tbody td
    }

}
