.confirm-delete-modal {
    .modal-dialog {
        max-width: 545px;
        min-width: unset;
    }
    .delete-modal-footer {
        display: flex;
        align-items: center;
        margin-top: 20px;
        .text-muted {
            margin-top: 0px !important;
        }
    }
}
