.content-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #ffffff;
        background: transparent;
        border-radius: 24px;
        border: solid 2px #5d748f;
        height: 100%;
        padding: 10px 44px;
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
            margin-right: 10px;
        }
    }
}

.add-other-language {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    cursor: pointer;
    img {
        margin-right: 10px;
    }
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8492a6;
}
