.modal-custom {
    overflow: hidden;
    overflow-y: auto;
    // pointer-events: none !important;
    z-index: 1050;

    &.show {
        display: block;
    }

    .modal-dialog {
        //min-width: 504px;
        position: relative !important;

        .modal-content {
            padding-bottom: 8px;
            border-radius: 6px;
            box-shadow: 0 1px 0 0 rgba(211, 220, 230, 0.6);
            background-color: #ffffff;
            @include media-breakpoint-down(sm) {
                width: 100% !important;
            }
            .modal-header {
                position: relative;
                box-shadow: 0 1px 0 0 rgba(211, 220, 230, 0.6);
                .close {
                    cursor: pointer;
                }

            }
            .modal-body {
                padding: 0 15px !important;
                padding-bottom: 28px !important;
                box-shadow: 0 1px 0 0 rgba(211, 220, 230, 0.6);
                .base-button {
                    margin-bottom: 0px;
                    width: unset !important;
                    //position: absolute;
                    //right: 14px;
                    //bottom: -56px;
                    padding: 10px 22px;
                    cursor: pointer;
                    z-index: 9999 !important;
                    &:hover {
                        color: #ffffff !important;
                        cursor: pointer !important;
                    }
                }
                .button-part {
                    z-index: 999 !important;
                    width: 95%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    bottom: -56px;
                    position: absolute;
                    .text-muted {
                        margin-top: 24px;
                    }
                    @include media-breakpoint-down(sm) {
                        width: 92% !important;
                    }
                }
            }
        }
        .modal-footer {
            position: relative;
            height: 60px;
            display: flex;
            align-items: center !important;
            flex-direction: row !important;
            padding: 0 15px 9px 5px;

            .text-muted {
                margin-top: 21px;
            }
        }
        @include media-breakpoint-down(sm) {
            margin-top: 242px;
        }
    }

    &__background-close {
        top:0; bottom: 0; left: 0;
        position: fixed;
        width: 95%;
        height: 100%;
        background-color: rgb(46, 46, 46);
        opacity: 0;
        z-index: -1;
    }
}
