.object-cover {
    object-fit: cover;
}

.label-sm {
    font-size: 14px;
    color: $gray-600;
}


.Info-text {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: center;
    color: #3d4858;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    span {
        color: #4ba0fe;
        text-decoration: underline;
        margin-left: 6px;
    }
}

.-margin-top-content {
    margin-top: -150px;
    h4 {
        font-size: 36px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        margin-bottom: 64px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'IBMPlexThai', sans-serif;
}
