// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: 'IBMPlexThai-Thin';
    src: url('/fonts/IBMPlexThai-Thin.ttf');
}

@font-face {
    font-family: 'IBMPlexThai-Thin';
    src: url('/fonts/IBMPlexThai-Thin.ttf');
}

@font-face {
    font-family: 'IBMPlexThai-ExtraLight';
    src: url('/fonts/IBMPlexThai-ExtraLight.ttf');
}

@font-face {
    font-family: 'IBMPlexThai-Light';
    src: url('/fonts/IBMPlexThai-Light.ttf');
}

@font-face {
    font-family: 'IBMPlexThai-Regular';
    src: url('/fonts/IBMPlexThai-Regular.ttf');
}

@font-face {
    font-family: 'IBMPlexThai-Medium';
    src: url('/fonts/IBMPlexThai-Medium.ttf');
}

@font-face {
    font-family: 'IBMPlexThai-SemiBold';
    src: url('/fonts/IBMPlexThai-SemiBold.ttf');
}


@font-face {
    font-family: 'IBMPlexThai-Bold';
    src: url('/fonts/IBMPlexThai-Bold.ttf');
}

// Font-weights ##########################
// font-weight: normal
.font-weight-normal {
    font-family: 'IBMPlexThai-Regular', sans-serif !important;
}

// font-weight: 500
.font-weight-500 {
    font-family: 'IBMPlexThai-Medium', sans-serif !important;
}

// font-weight: 600
.font-weight-600 {
    font-family: 'IBMPlexThai-SemiBold', sans-serif !important;
}

.font-weight-bold {
    font-family: 'IBMPlexThai-Bold', sans-serif !important;
}
